.vscode
node_modules
.env
.env.local
.next
out
dist
/.turbo
/.cache
*.log
/MusLunar/node_modules
/MusLunar/.next
/MusLunar/out
/MusLunar/.vercel
/MusLunar/.env
/MusLunar/.env.local

/MusLunarAPI/bin
/MusLunarAPI/.env
/MusLunarAPI/.env.local
/MusLunarAPI/coverage
